:root {
  --color-black-1: #111111;
  --color-white: #FFFFFF;
  --color-grey: #757575;
  --color-grey-2: #F5F5F5;
  --color-grey-3: #6F6F6F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('/fonts/avenir/AvenirBlack.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirBook';
  src: url('/fonts/avenir/AvenirBook.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('/fonts/avenir/AvenirRoman.otf') format('truetype');
}

body {
  font-family: 'AvenirBook', sans-serif;
  font-size: 16px;
}